<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientID</key>
	<string>Iv23liW7trz271V8cdSb</string>
	<key>installationURL</key>
	<string>https://github.com/apps/ss-homework-manager/installations/new</string>
	<key>oauthClientID</key>
	<string>Ov23libEk0uJm0Dg9t2c</string>
</dict>
</plist>
